body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
}

h2 {
    font-size: 1.2rem;
    color: #fff;
}

.quote-container, .search-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

#quote-text {
    font-size: 1.5rem;
    margin: 0;
}

#quote-author {
    font-size: 1rem;
    margin-top: 10px;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2193b0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6dd5ed;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Full width minus padding and border */
    margin-bottom: 10px;
}

#search-results p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .quote-container, .search-container {
        width: 90%;
    }
}
